/node_modules
node_modules/
node_modules

/build
build/
/artifacts
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/cache
.cache/
*.cache
.yarn/cache
cache/

.env
.env*.local

coverage.json
/coverage
/gasEstimate
/.VSCoderCounter


.pnpm-store/
.vscode/
pnpm-lock.yaml

